@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Common Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #6edae6;
  --white-color: #fff;
  --black-color: #000;
}
/*End of Common Styles*/
